/*Import third part stylesheet*/

/*Base CSS*/
::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

/*滚动条滑块*/

::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
  background: rgba(225, 231, 237, 0.75);
}

/*滚动条轨道*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  /* border-radius: 10px; */
  background: transparent;
}

div {
  outline-color: transparent;
}

.exclude-header {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 93.5vh !important;
}

body {
  margin: 0;
  overflow: hidden;
  background: #ffffff !important;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

body.body {
  background: #ffffff !important;
}

body.body--dark {
  background: #34383e !important;
}

.text-h7 {
  font-size: 15px;
  font-weight: bold;
}

.bg-blur {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: #fafafa;
  backdrop-filter: blur(8px);
  opacity: 0.9;
  box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.31);
}

.tooltip {
  font-size: 17px;
}

.ag-image-toolbar li.item div.tooltip {
  font-size: 14px;
}

div.ag-show-quick-insert-hint[contenteditable=false] {
  /*background: green;*/
  mso-foreground: #1c1c1c;
}

.vditor-toolbar {
  border: none !important;
  display: none;
}

/*Note Item CSS*/
.note-item,
.note-item-dark {
  background-color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 黑体;
}

.note-item-dark {
  background-color: #34383e;
}

.active-note-item,
.active-note-item-dark {
  color: #212121;
  background-color: #e4e4e4;
}

.active-note-item-dark {
  background-color: #1c232b;
}

.note-list {
  background-color: #ffffff;
}

.note-list-dark {
  background-color: #34383e;
}

.note-list,
.note-list-dark {
  font-weight: bold;
}

/*Note List CSS*/
.note-card,
.note-card-dark {
  width: 100%;
  padding: 19px;
  border-radius: 0px;
  user-select: none;
}

.note-card-dark {
  border-bottom: 1px solid #35373e;
}

.note-item-title,
.note-item-title-dark {
  color: #343a40;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

.note-item-summary,
.note-item-summary-dark {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, Consolas;
  color: #acacac;
  font-size: 14px;
}

.note-item-summary,
.note-item-summary-dark > span {
  color: #8f8f8f;
}

.note-item-title > em,
.note-item-title-dark > em,
.note-item-summary > em,
.note-item-summary-dark > em {
  background-color: #f7c049;
  color: #282828;
}

.note-item-title-dark {
  color: #dadada;
}

.note-item-summary-dark {
  color: #919191;
}

.note-info-tag {
  display: flex;
  align-items: center;
}

.note-info-tag > i {
  padding-right: 3px;
}

/*fab button*/
.fab-btn {
  margin: 10px;
}

.fab-icon {
  margin: 40px;
}

/*base dialog*/
.base-dialog {
  width: 500px !important;
  max-width: 50vw;
  font-weight: bold;
}

.neeto-icon {
  color: #000000;
}

.neeto-icon-dark {
  color: #ffffff;
}

.tag-tooltip {
  max-width: 500px;
  word-break: normal;
}
